/* contents 기본틀 */
.cursor {
    cursor: pointer;
}
html{
    overflow: hidden;
}
.contents{
    position: absolute;
    left: 260px;
    top: 0;
    bottom: 0;
    right: 0;
    width: auto;
    background: #fff;
    z-index: 110;
}
.contents-wrap::-webkit-scrollbar {
    width: 10px;

}
.contents-wrap::-webkit-scrollbar-thumb {
    background-color: #e8ecee;
    border-radius: 15px;
}
.contents-wrap::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 15px;
    box-shadow: white;
}
.contents-title{
    padding-top: 10px;
    height: 50px;
    border-bottom: solid 0.1px #cacaca;
}
.ct1{
    margin-left: 50px;
    font-size: 25px;
    font-weight: bolder ;
}
.contents-wrap{
    position: absolute;
    top: 110px;
    height: auto;
    bottom: 100px;
    left: 0;
    right: 0;
    padding-right: 12px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}
/* ic */
.ic-navi{
    margin-left: 40px;
    margin-top: 30px;
    width:80%;
    height: 4%;
}
.cate{
    float: left;
    width: 100px;
    margin-left: 20px;
    border-bottom: solid 0.1px #477A8F;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 2px;
    
}

.c-ic{
    padding: 60px;
    width: 100%;
}


/* leave-tbl */
.l-table{
    margin-top: 50px;
    width: 100%;
    border-top: solid 0.1px  #477A8F;
    border-bottom: solid 0.1px #477A8F;
    text-align: center;
    border-collapse: collapse;

}
.r-table{
    width: 100%;
    border-top: solid 0.1px  #477A8F;
    border-bottom: solid 0.1px  #477A8F;
    border-collapse: collapse;
}
.tl{
    padding: 10px;
}
.tr{
    padding: 10px;
    text-align: left;
}
.ta{
    padding: 10px;
}