/* 세부네비 수정 */

.contents{
    margin: 10px;
    position: absolute;
    left: 260px;
    top: 0;
    bottom: 0;
    right: 0;
    width: auto;
    background: #fff;
    z-index: 110;
}
.contents-wrap{
    position: absolute;
    top: 0;
    height: auto;
	bottom: 0;
    left: 0;
    right: 0;
    padding-right: 12px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}
.c-ic{
    padding: 60px;
	width: 100%;
	height: auto;
}
.contents{
    position: absolute;
    left: 260px;
    top: 0;
    bottom: 150px;
    right: 0;
    width: auto;
    background: #fff;
	z-index: 110;
	margin: 0 0 0 0;
	height: auto;
}
/* --- 수정완료--- */

body {
    font-family: "Noto Sans KR", sans-serif;
    padding: 0px; margin: 0px;

}

#office-sub-navigation{
    margin: 5px;
    border-radius: 10px;
    color: #676767;
    width: 230px;
    height: 315px;
    font-size: 1.15em;
    float: left;
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.10);


}
.office-container{
    position: absolute;
    top: 140px;
    border-radius: 10px;
    color: #676767;
    width: 100%;
    height: 100%;
    font-size: 1.15em;
    float: left;
    border-bottom: none;
    padding-top: 2px;
    overflow: hidden;

}
.office-subNavi{
    margin-left: 15px;
    margin-right: 15px;
}

.office-subNavi>li{
    margin-bottom: 10px;
}
.office-subNavi>ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #676767;
}

.office-title{
    font-size: 16px;
    font-weight: bold;
    margin-right: 50px;
}
.subTitle{
    list-style: square;
}

.underline{
    border-bottom: solid 0.1px;
    margin-bottom: 10px;
}
.topline{
    border-top: solid 2px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.blackline{
    background: black;
    height: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.cursor {
    cursor: pointer;
}
.drag-scrollbar{
    height: auto;		
}
.drag-scrollbar::-webkit-scrollbar {
    width: 10px;

  }
.drag-scrollbar::-webkit-scrollbar-thumb {
    background-color: #676767;
    border-radius: 15px;
}
.drag-scrollbar::-webkit-scrollbar-track {
    background-color: #e8ecee;
    border-radius: 15px;
    box-shadow: #e8ecee;

}

html{
    overflow: hidden;
}