<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<resultMap id="boardResultSet" type="board">
		<id property="bNo" column="BNO" />
		<result property="bTitle" column="BTITLE" />
		<result property="bWriter" column="BWRITER" />
		<result property="bContent" column="BCONTENT" />
		<result property="bCount" column="BCOUNT" />
		<result property="originalFileName" column="ORIGINAL_FILENAME" />
		<result property="renameFileName" column="RENAME_FILENAME" />
		<result property="bCreateDate" column="B_CREATE_DATE" />
		<result property="bModifyDate" column="B_MODIFY_DATE" />
		<result property="bStatus" column="B_STATUS" />
		<result property="bImport" column="B_IMPORT" />
		<result property="bSave" column="B_SAVE" />
	</resultMap>

	<!-- comment resultSet추가 부분 -->
	<resultMap type="bcomment" id="bcommentResultSet">
		<id property="bcNo" column="BCNO" />
		<result property="bcContent" column="BCCONTENT" />
		<result property="bcefBno" column="BCEF_BNO" />
		<result property="bcWriter" column="BCWRITER" />
		<result property="bcCreateDate" column="BC_CREATE_DATE" />
		<result property="bcModifyDate" column="BC_MODIFY_DATE" />
		<result property="bcStatus" column="BC_STATUS" />
	</resultMap>

	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM TBL_BOARD
		WHERE B_STATUS='Y'
	</select>

	<select id="selectListBoard" resultMap="boardResultSet">
		SELECT *
		FROM TBL_BOARD
		WHERE B_STATUS='Y'
		ORDER BY BNO DESC
	</select>
	
	<update id="updateCount" parameterType="_int">
		UPDATE TBL_BOARD
		SET BCOUNT = BCOUNT +1
		WHERE BNO=#{bNo}
	</update>

	<select id="selectBoard" resultMap="boardResultSet">
		SELECT *
		FROM TBL_BOARD
		WHERE BNO=#{bNo}
		AND B_STATUS='Y'
	</select>
	
	<select id="selectbCommentList" parameterType="_int"
		resultMap="bcommentResultSet">
		SELECT *
		FROM CMT_BOARD
		WHERE BCEF_BNO=#{bNo}
		ORDER BY BCNO ASC
	</select>
	
	<insert id="insertbComment" parameterType="bcomment">
		INSERT INTO CMT_BOARD VALUES
		(SEQ_BCNO.NEXTVAL, #{bcContent},#{bcefBno},#{bcWriter},SYSDATE,SYSDATE,DEFAULT)
	</insert>
	

</mapper>