<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mailMapper">

	<resultMap id="mailResultSet" type="Mail">
	
		<id property="memNo" column="MEM_NO"/>
		
		<result property="mailNo" column="MAIL_NO"/>
		<result property="sender" column="SENDER"/>
		<result property="recipient" column="RECIPIENT"/>
		<result property="mTitle" column="M_TITLE"/>
		<result property="mFileName" column="M_FILENAME"/>
		<result property="mContent" column="M_CONTENT"/>
		<result property="sendDate" column="SEND_DATE"/>
		<result property="mDeleteStatus" column="MDELETE_STATUS"/>
		<result property="mSaveStatus" column="MSAVE_STATUS"/>
		<result property="mRealDelStatus" column="M_REALDEL_STATUS"/>
		<result property="readCount" column="READ_COUNT"/>
		<result property="email" column="EMAIL_ADDRESS"/>
		<result property="name" column="NAME"/>
		<result property="rName" column="RNAME"/>
		
		
	</resultMap>
	
	<resultMap id="selectIdNoSet" type="MailSelectIdNo">
		<result property="mailNo" column="MAIL_NO"/>
		<result property="memId" column="MEM_ID"/>
	</resultMap>
	
	  <!-- 받은 편지함 갯수 세기  -->
	  <select id="getReListCount" resultType="_int">
		SELECT COUNT(*)
        FROM MAIL MA
        JOIN MEMBER M ON (MA.SENDER = M.ID)
        WHERE RECIPIENT = #{memId}
        AND MDELETE_STATUS = 'N'
        AND MSAVE_STATUS = 'N'
        AND M_REALDEL_STATUS = 'N'
	 </select>
	 
	 <!--  보낸 편지함 갯수 세기  -->
	 <select id="getSendListCount" resultType="_int">
	 	SELECT COUNT(*)
        FROM MAIL MA
        JOIN MEMBER M ON (MA.RECIPIENT = M.ID)
        WHERE SENDER = #{memId}
        AND MDELETE_STATUS = 'N'
        AND MSAVE_STATUS = 'N'
	 </select>
	 
	 <!--  쓰레기통 갯수 세기  -->
	 <select id="getBinListCount" resultType="_int">
		 SELECT COUNT(*)
	     FROM MAIL 
	     WHERE 
         (RECIPIENT = #{memId}
	     OR SENDER = #{memId})
	     AND MDELETE_STATUS = 'Y'
	     AND M_REALDEL_STATUS = 'N'
	 </select>
	 
	 <!--  임시보관함 갯수 세기  -->
	 <select id="getSaveListCount" resultType="_int">
	 	SELECT COUNT(*)
	    FROM MAIL MA
	    JOIN MEMBER M ON (MA.RECIPIENT = M.ID)
	    WHERE MA.SENDER = #{memId}
	    AND MA.MSAVE_STATUS = 'Y'
	    AND MA.MDELETE_STATUS = 'N'
	 </select>
	
  	<!-- 받은 메일함 리스트  -->
  	<select id="selectReceiveList" resultMap="mailResultSet">
		SELECT MA.*, M.NAME
        FROM MAIL MA
        JOIN MEMBER M ON (MA.SENDER = M.ID)
        WHERE RECIPIENT = #{memId}
        AND MDELETE_STATUS = 'N'
        AND MSAVE_STATUS = 'N'
        AND M_REALDEL_STATUS = 'N'
        ORDER BY SEND_DATE DESC
	</select>
	
	<!--  보낸 메일함 리스트  -->
	<select id="selectSendList" resultMap="mailResultSet">
		SELECT MA.*, M.NAME
        FROM MAIL MA
        JOIN MEMBER M ON (MA.RECIPIENT = M.ID)
        WHERE SENDER = #{memId}
        AND MDELETE_STATUS = 'N'
        AND MSAVE_STATUS = 'N'
        ORDER BY SEND_DATE DESC
	</select>
	
	<!--  받은 편지함 메일 게시물 한개  -->
	<select id="mailDetailView" parameterType="_int" resultMap="mailResultSet">
        SELECT R.*,M.NAME,E.EMAIL_ADDRESS
        FROM MAIL R 
        INNER JOIN MEMBER M ON (R.SENDER = M.ID)
        JOIN EMAIL E ON (R.MEM_NO = E.MEM_NO)
        WHERE R.MAIL_NO = #{mailNo}
	</select>
	
	<!--  보낸 편지함 메일 게시물 한개  -->
	<select id="sendMailDetailView" parameterType="_int" resultMap="mailResultSet">
		SELECT R.*,M.NAME,E.EMAIL_ADDRESS
        FROM MAIL R 
        INNER JOIN MEMBER M ON (R.RECIPIENT = M.ID)
        JOIN EMAIL E ON (R.MEM_NO = E.MEM_NO)
        WHERE R.MAIL_NO = #{mailNo}
	</select>
	
	<!-- 메일 조회수 +1  -->
	<update id="updateCount" parameterType="_int">
		UPDATE MAIL
		SET READ_COUNT = READ_COUNT +1
		WHERE MAIL_NO = #{mailNo}
	 </update>
	 
	 <!--  답장하기 - 임시저장  -->
	 <insert id="saveMail" parameterType="Mail">
	 INSERT INTO MAIL VALUES 
	 (MAIL_SEQ.nextval,#{memNo},#{sender},#{recipient},
	 #{mTitle},#{mContent},SYSDATE,'N','Y',0,DEFAULT,#{mFileName})
	 </insert>
	 
	 <!--  답장하기 - 보내기  -->
	 <insert id="sendMail" parameterType="Mail">
	 INSERT INTO MAIL VALUES 
	 (MAIL_SEQ.nextval,#{memNo},#{sender},#{recipient},
	 #{mTitle},#{mContent},SYSDATE,'N','N',0,DEFAULT,#{mFileName})
	 </insert>
	 
	<!--  받은 편지함 - 읽은 메일 리스트 -->
	 <select id="readMailList" resultMap="mailResultSet">  
	 	SELECT R.* , M.NAME
        FROM MAIL R 
        INNER JOIN MEMBER M ON (R.SENDER = M.ID)
        WHERE READ_COUNT >0
        AND RECIPIENT = #{memId}
        AND MDELETE_STATUS = 'N'
        AND M_REALDEL_STATUS = 'N'
        ORDER BY SEND_DATE DESC
	 </select>
	 
	 <!--  받은 편지함 - 안읽은 메일 리스트 -->
	 <select id="unReadMailList" resultMap="mailResultSet">
	 	SELECT R.* , M.NAME
        FROM MAIL R 
        INNER JOIN MEMBER M ON (R.SENDER = M.ID)
        WHERE READ_COUNT = 0
        AND RECIPIENT =  #{memId}
        AND MDELETE_STATUS = 'N'
         AND M_REALDEL_STATUS = 'N'
        ORDER BY SEND_DATE DESC
	 </select>
	 
	 <!--  받은 편지함에서 전체 삭제 / 업데이트   -->
	 <update id="deleteFromList" parameterType="Mail">
		 UPDATE MAIL
	     SET MDELETE_STATUS = 'Y'
	     WHERE RECIPIENT = #{memId}
	     AND MDELETE_STATUS= 'N'
	 </update>
	
	 
	 <!--  임시 보관함 리스트 -->
	<select id="selectSaveList" resultMap="mailResultSet">
		SELECT MA.*, M.NAME
	    FROM MAIL MA
	    JOIN MEMBER M ON (MA.RECIPIENT = M.ID)
	    WHERE MA.SENDER = #{memId}
	    AND MA.MSAVE_STATUS = 'Y'
	    AND MA.MDELETE_STATUS = 'N'
	    ORDER BY SEND_DATE DESC
	</select>
	
	<!--  임시보관함 -->
	<select id="saveMailDetailView" parameterType="_int" resultMap="mailResultSet">
        SELECT MA.*, M.NAME
	    FROM MAIL MA
	    JOIN MEMBER M ON (MA.RECIPIENT = M.ID)
	    WHERE MA.MAIL_NO = #{mailNo}
	    AND MA.MSAVE_STATUS = 'Y'
	    AND MA.MDELETE_STATUS = 'N'
	</select>
	
	<select id="binMailList" resultMap="mailResultSet">
		SELECT *
	     FROM MAIL 
	     WHERE 
         (RECIPIENT = #{memId}
	     OR SENDER = #{memId})
	     AND MDELETE_STATUS = 'Y'
	     AND M_REALDEL_STATUS = 'N'
	     ORDER BY SEND_DATE DESC
	</select>
	
	<select id="delMailDetailView" parameterType="_int" resultMap="mailResultSet" >
		SELECT Y.*, P.NAME AS RNAME
        FROM 
        (   SELECT R.*,M.NAME,E.EMAIL_ADDRESS
            FROM MAIL R 
            INNER JOIN MEMBER M ON (R.SENDER = M.ID)
            JOIN EMAIL E ON (R.MEM_NO = E.MEM_NO)
            WHERE R.MAIL_NO = 101
        ) Y,
        (SELECT NAME  FROM MEMBER WHERE ID IN (SELECT r.recipient
                                                FROM MAIL R 
                                                WHERE R.MAIL_NO = #{mailNo})
        ) P
	</select>
	
	<update id="allBinDelMail" parameterType="Mail">
		UPDATE MAIL
        SET M_REALDEL_STATUS = 'Y'
        WHERE (RECIPIENT = #{memId}
	     OR SENDER = #{memId})
        AND M_REALDEL_STATUS = 'N'
        AND MDELETE_STATUS = 'Y'
	</update>
	
	<update id="allRealDelMail" parameterType="Mail">
		UPDATE MAIL 
		SET M_REALDEL_STATUS = 'Y'
		WHERE RECIPIENT = #{memId}
        AND MDELETE_STATUS = 'N'
        AND MSAVE_STATUS = 'N'
        AND M_REALDEL_STATUS = 'N'
	</update>
	
	<update id="deleteOneMail" parameterType="Mail">
		UPDATE MAIL
		SET MDELETE_STATUS = 'Y'
		WHERE MAIL_NO = #{mailNo}
	</update>
	
	<update id="realDeleteOneMail" parameterType="Mail">
		UPDATE MAIL
		SET M_REALDEL_STATUS = 'Y'
		WHERE MAIL_NO = #{mailNo}
	</update>
	
	<!--  휴지통 개별 보기에서 복원하기  -->
	<update id="backOneMail" parameterType="Mail">
		UPDATE MAIL
		SET MDELETE_STATUS = 'N'
		WHERE MAIL_NO = #{mailNo}
	</update>
	
	
</mapper>