<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mailMapper">

	<resultMap id="mailResultSet" type="Mail">
		<id property="memNo" column="MEM_NO"/>
		
		<result property="id" column="ID"/>
		<result property="name" column="NAME"/>
		<result property="sender" column="SENDER"/>
		<result property="recipient" column="RECIPIENT"/>
		<result property="mTitle" column="M_TITLE"/>
		<result property="mContent" column="M_CONTENT"/>
		<result property="mFileName" column="M_FILENAME"/>
		<result property="sendDate" column="SEND_DATE"/>
		<result property="saveStatus" column="SAVE_STATUS"/>
		<result property="mDeleteStatus" column="MDELETE_STATUS"/>
		<result property="mailNo" column="RMA_NO"/>
		<result property="senderNo" column="SENDER_NO"/>
	</resultMap>
  
  <select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM RECIEVED_MAIL
		WHERE MDELETE_STATUS='N'
		AND MEM_NO = #{memNo}
	</select>
  
  	<select id="selectReceiveList" resultMap="mailResultSet">
		 SELECT R.*, M.NAME, M.MEM_NO AS SENDER_NO
		FROM RECIEVED_MAIL R INNER JOIN MEMBER M ON (R.SENDER = M.ID) 
		WHERE MDELETE_STATUS='N'
		AND R.MEM_NO = #{memNo}
		ORDER BY SEND_DATE DESC
	</select>
	
	
	
</mapper>