<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="officeMapper">
	<!-- MEMBER -->
	<resultMap id="memberResultSet" type="Member">
    	<result property="memNo" column="MEM_NO"/>
      	<result property="id" column="ID"/>
		<result property="pwd" column="PWD"/>
		<result property="name" column="NAME"/>
		<result property="gender" column="GENDER"/>
		<result property="birth" column="BIRTH"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="address" column="ADDRESS"/>
		<result property="photo" column="PHOTO"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="updateDate" column="UPDATE_DATE"/>
		<result property="mStatus" column="M_STATUS"/>
		<result property="annualLeave" column="ANNUAL_LEAVE"/>
		<result property="rewardLeave" column="REWARD_LEAVE"/>
		<result property="joinStatus" column="JOIN_STATUS"/>
		<result property="myInfo" column="MY_INFO"/>
		<result property="deptNo" column="DEPT_NO"/>
		<result property="lankNo" column="RANK_NO"/>
		<result property="deptName" column="DEPT_NAME"/>
		<result property="rankName" column="RANK_NAME"/>
		<result property="sAccess" column="S_ACCESS"/>
           
   	</resultMap>

	<resultMap id="OfficeMainContactInformationResultSet" type="OfficeMainContactInformation">
    	<result property="memNo" column="MEM_NO"/>
      	<result property="id" column="ID"/>
		<result property="name" column="NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="deptName" column="DEPT_NAME"/>
		<result property="rankName" column="RANK_NAME"/>
		<result property="sAccess" column="S_ACCESS"/>
   	</resultMap>
   	
   	<resultMap type="OfficeMainInformationCalculation" id="calculResultSet">
   		
		<result property="boardCount" column="boardCount"/>
		<result property="latestNoticeDate" column="latestNoticeDate"/>
		<result property="memberCount" column="memberCount"/>
		<result property="deptCount" column="deptCount"/>
		<result property="deptPersonnel" column="deptPersonnel"/>
		<result property="rankCount" column="rankCount"/>
		<result property="existDocumentCount" column="existDocumentCount"/>
		<result property="deleteDocumentCount" column="deleteDocumentCount"/>
   	</resultMap>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////  -->
	<select id="officeManager" resultMap="OfficeMainContactInformationResultSet">
		select *
		from member
		where s_access = 1
		and m_status ='Y'
	</select>
	
	<select id="contactInformation" resultMap="OfficeMainContactInformationResultSet">
	<![CDATA[ 
		select *
		from member
		join rank using(rank_no)
		where rank_no < 3
		and rank_no != 0
		and m_status = 'Y'
		]]>
	</select>
	
	<select id="informationCalculate" resultMap="calculResultSet">
		SELECT (SELECT NVL(COUNT(*),0) FROM TBL_NOTICE) AS BOARDCOUNT,
		       (SELECT N_CREATE_DATE FROM TBL_NOTICE WHERE ROWNUM =1) AS LATESTNOTICEDATE,
		       (SELECT NVL(COUNT(*),0) FROM MEMBER) AS MEMBERCOUNT,
		       (SELECT NVL(COUNT(*),0) FROM DEPARTMENT) AS DEPTCOUNT,
		       (SELECT NVL(COUNT(*),0) FROM DEPARTMENT WHERE DEPT_NAME = '인사') AS DEPTPERSONNEL,
		       (SELECT NVL(COUNT(*),0) FROM RANK) AS RANKCOUNT,
		       (SELECT NVL(COUNT(*),0) FROM APPROVAL_DOCUMENT WHERE D_STATUS = 'N') AS EXISTDOCUMENTCOUNT,
		       (SELECT NVL(COUNT(*),0) FROM APPROVAL_DOCUMENT WHERE D_STATUS = 'Y') AS DELETEDOCUMENTCOUNT
		FROM DUAL
	</select>
	
	<select id="notManagerMember" resultMap="memberResultSet">
		select * from member where m_status='Y' and s_access = 0
	</select>
	<select id="ManagerMember" resultMap="memberResultSet">
		select * from member where m_status='Y' and s_access = 1
	</select>
	 	
</mapper>