<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="personnelMapper">
	<!-- MEMBER -->
	<resultMap id="memberResultSet" type="Member">
    	<result property="memNo" column="MEM_NO"/>
      	<result property="id" column="ID"/>
		<result property="pwd" column="PWD"/>
		<result property="name" column="NAME"/>
		<result property="gender" column="GENDER"/>
		<result property="birth" column="BIRTH"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="address" column="ADDRESS"/>
		<result property="photo" column="PHOTO"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="updateDate" column="UPDATE_DATE"/>
		<result property="mStatus" column="M_STATUS"/>
		<result property="annualLeave" column="ANNUAL_LEAVE"/>
		<result property="rewardLeave" column="REWARD_LEAVE"/>
		<result property="joinStatus" column="JOIN_STATUS"/>
		<result property="myInfo" column="MY_INFO"/>
		<result property="deptNo" column="DEPT_NO"/>
		<result property="lankNo" column="RANK_NO"/>
		<result property="deptName" column="DEPT_NAME"/>
		<result property="rankName" column="RANK_NAME"/>
		<result property="sAccess" column="S_ACCESS"/>
           
   	</resultMap>
	<!-- DEPARTMENT  -->
   	<resultMap type="Department" id="deptResultSet">
      	<result property="deptNo" column="DEPT_NO"/>
		<result property="deptName" column="DEPT_NAME"/>
   	</resultMap>
   	
   	<!-- REWARD_LEAVE -->
   	<resultMap type="RewardLeave" id="rewardResultSet">

   		<result property="noReward" column="NO_R_LAEVE"/>
   		<result property="memNo" column="MEM_NO"/>
   		<result property="rewardDays" column="DAYS_R_LEAVE"/>
   		<result property="createDate" column="CREATEDATE_R_LEAVE"/>
   	</resultMap>
   	<!-- RECORD_LEAVE -->
   	<resultMap type="RecordLeave" id="RecordLeaveResultSet">
   		<result property="noRecord" column="NO_RECORD_LEAVE"/>
   		<result property="memNo" column="MEM_NO"/>
   		<result property="typeLeave" column="TYPE_USE_LEAVE"/>
   		<result property="applyDate" column="APPLYDATE_USE_LEAVE"/>
   		<result property="useDays" column="DAYS_USE_LEAVE"/>
   		<result property="attach" column="ATTACHMENT_USE_LEAVE"/>
   		<result property="status" column="L_STATUS"/>
   		<result property="requestedDate" column="REQUESTED_DATE"/>
   		<result property="reason" column="REASON"/>
   	</resultMap>
   	
   	<resultMap type="TypeLeave" id="typeLeaveResultSet">
   		<result property="noType" column="NO_TYPE_LEAVE"/>
   		<result property="nameType" column="NAME_TYPE_LEAVE"/>
   		<result property="annualUse" column="ANNUAL_USE"/>
   		<result property="status" column="L_STATUS"/>
   	</resultMap>
   	
   	<resultMap type="MixForLeave" id="mixLeaveResultSet">
   		<result property="noRecord" column="NO_RECORD_LEAVE"/>
   		<result property="memNo" column="MEM_NO"/>
   		<result property="typeLeave" column="TYPE_USE_LEAVE"/>
   		<result property="applyDate" column="APPLYDATE_USE_LEAVE"/>
   		<result property="useDays" column="DAYS_USE_LEAVE"/>
   		<result property="attach" column="ATTACHMENT_USE_LEAVE"/>
   		<result property="status" column="L_STATUS"/>
   		<result property="noType" column="NO_TYPE_LEAVE"/>
   		<result property="nameType" column="NAME_TYPE_LEAVE"/>
   		<result property="annualUse" column="ANNUAL_USE"/>
   		<result property="requestedDate" column="REQUESTED_DATE"/>
   		<result property="reason" column="REASON"/>
   	</resultMap>
   	
   	<resultMap type="TypeUsedLeave" id="TypeUsedLeaveResultSet">
   		<result property="tName" column="T_NAME"/>
   		<result property="num"  column="NUMBER_OF_USED"/>
   	</resultMap>
   	
   	<resultMap type="SetLeave" id="SetLeaveResultSet">
   		<result property="workyear" column="WORKING_YEARS"/>
   		<result property="annualLeave" column="ANNUAL_LEAVE"/>
   		<result property="carryover" column="CARRYOVER_LEAVE"/>
   		<result property="firstyear" column="FIRSTYEAR_LEAVE"/>
   		<result property="setting" column="SETTING_DATE"/>
   	</resultMap>
   	
   	<resultMap type="SetAttendance" id="SetAttendanceResultSet">
   		<result property="dayWeek" column="DAY_WEEK"/>
   		<result property="dayAvailable" column="DAY_AVAILABLE"/>
   		<result property="timeAttendance" column="TIME_ATTENDANCE"/>
   		<result property="timeOffWork" column="TIME_OFFWORK"/>
   		<result property="noDay" column="NO_DAY" />
   	</resultMap>
   	
   	<resultMap type="RecordDiligence" id="RecordDiligenceResultSet">
   		<result property="noDiligence" column="NO_DILIGENCE"/>
   		<result property="typeDiligence" column="TYPE_DILIGENCE"/>
   		<result property="dateDiligence" column="DATE_DILIGENCE"/>
   		<result property="timeEnter" column="TIME_ENTER"/>
   		<result property="memNo" column="MEM_NO"/>
   		<result property="statusDiligence" column="STATUS_DILIGENCE"/>
   		<result property="timeExit" column="TIME_EXIT"/>
   	</resultMap>

   	<resultMap type="ForEmLeave" id="forEmLeaveResultSet">
   		<result property="memNo" column="MEM_NO"/>
   		<result property="enrollDate" column="ENROLL_DATE"/>
   		<result property="name" column="NAME"/>
   		<result property="annualLeave" column="ANNUAL_LEAVE"/>
   		<result property="rewardLeave" column="REWARD_LEAVE"/>
   		<result property="remainAnnual" column="REMAIN_ANNUAL"/>
   		<result property="remainReward" column="REMAIN_REWARD"/>
   	</resultMap>
   	
   	<resultMap type="ForEmUsedLeave" id="forEmUsedLeaveResultSet">
   		<result property="memNo" column="MEM_NO"/>
   		<result property="num" column="NUM"/>
   		<result property="useCount" column="USECOUNT"/>
   	</resultMap>
   	
   	<resultMap type="ModificationDiligence" id="modificationDiligenceResultSet">
   	
   		<result property="noMod" column="NO_MOD_D"/>
   		<result property="dateApply" column="DATE_APPLY_D"/>
   		<result property="name" column="NAME_REQUESTER_D"/>
   		<result property="id" column="ID_REQUESTER_D"/>
   		<result property="memNo" column="EN_REQUESTER_D"/>
   		<result property="dateMod" column="DATE_MOD_D"/>
   		<result property="statusMod" column="STATUS_MOD_D"/>
   		<result property="reasonMod" column="REASON_MOD_D"/>
   		<result property="originalAttachmentMod" column="ORIGINAL_ATTACHMENT_MOD_D"/>
   		<result property="renameAttachmentMod" column="RENAME_ATTACHMENT_MOD_D"/>
   		<result property="timeEnter" column="TIME_ENTER"/>
   		<result property="timeExit" column="TIME_EXIT"/>
   		<result property="statusDiligence" column="STATUS_DILIGENCE"/>
   	</resultMap>
   	<!-- **************************************************************************************** -->
   
	<!-- 휴가일수 계산 -->
	<select id="leaveCalculdate" parameterType="string" resultType="_int" >
		SELECT NVL(ANNUAL_LEAVE,0)
		FROM SET_LEAVE_STANDARD
		WHERE WORKING_YEARS = #{workyear}
	</select>
	<!-- 포상휴가 조회 (사번) -->
	<select id="rewardLeave" resultType="_int" parameterType="int">
		SELECT NVL(SUM(DAYS_R_LEAVE),0)
		FROM REWARD_LEAVE
		WHERE MEM_NO = #{memNo}
	</select>

	<!-- 사용된 포상휴가 -->
	<select id="usedRewardLeave" resultType="_int" parameterType="int">
		SELECT NVL(SUM(DAYS_USE_LEAVE),0)
		FROM RECORD_LEAVE
		WHERE MEM_NO = #{memNo}
		AND L_STATUS = '결재완료'
		AND type_use_leave IN (SELECT NO_TYPE_LEAVE
		                        FROM TYPE_LEAVE
		                        WHERE no_type_leave= '2')
	</select>
	
	<!-- 1년차미만 휴가설정 -->
	<select id="firstyearLeave" resultMap="SetLeaveResultSet">
		SELECT *
		FROM SET_LEAVE_STANDARD
		WHERE WORKING_YEARS = 'N1'
	</select>
	
	<!-- 휴가 업데이트  -->
	<update id="updateLeave" parameterType="map">
		UPDATE MEMBER
		SET ANNUAL_LEAVE=#{annual}, REWARD_LEAVE=#{reward}
		WHERE MEM_NO = #{memNo}
	</update>
	<!-- 사용된 연차 -->
	<select id="usedAnnualLeave" resultType="_int" parameterType="int">
		SELECT NVL(SUM(DAYS_USE_LEAVE),0)
		FROM RECORD_LEAVE
		WHERE MEM_NO = #{memNo}
		AND L_STATUS = '결재완료'
		AND type_use_leave IN (SELECT NO_TYPE_LEAVE
		                        FROM TYPE_LEAVE
		                        WHERE ANNUAL_USE = 'Y')
	</select>
	<!-- 지각수 (월) -->
	<select id="lateCountM" parameterType="int" resultType="_int">
		SELECT NVL(COUNT(*),0)
		FROM (SELECT *
		    FROM RECORD_DILIGENCE
		    WHERE EXTRACT(YEAR FROM DATE_DILIGENCE) = EXTRACT(YEAR FROM SYSDATE)
		    AND EXTRACT (MONTH FROM DATE_DILIGENCE) = EXTRACT(MONTH FROM SYSDATE))
		WHERE STATUS_DILIGENCE = '지각'
		AND MEM_NO = #{memNo}
	</select>

	<!-- 지각수 (년) -->
	<select id="lateCountY" parameterType="int" resultType="_int">
		SELECT NVL(COUNT(*),0)
		FROM (SELECT *
		    FROM RECORD_DILIGENCE
		    WHERE EXTRACT(YEAR FROM DATE_DILIGENCE) = EXTRACT(YEAR FROM SYSDATE))
		WHERE STATUS_DILIGENCE = '지각'
		AND MEM_NO = #{memNo}
	</select>
	<!-- 부서리스트 조회 -->
	<select id="deptList" resultMap="deptResultSet">
		SELECT *
		FROM DEPARTMENT
	</select>
	<!-- 사원전체조회 (부서별) -->
	<select id="deptAllMemberList" resultMap="memberResultSet" parameterType="Member">
		SELECT *
		FROM MEMBER
		JOIN DEPARTMENT USING(DEPT_NO)
		JOIN RANK USING(RANK_NO)
		ORDER BY DEPT_NO
	</select>
	<!-- 회원상세정보 모달/ 사번으로조회 -->
	<select id="detailMemberInfo" resultMap="memberResultSet" parameterType="Member">
		SELECT *
		FROM MEMBER
		JOIN DEPARTMENT USING(DEPT_NO)
		JOIN RANK USING(RANK_NO)
		WHERE MEM_NO = #{memNo}
	</select>
	
	<!-- 검색 사번/이름 -->
	<select id="searchMemberById" resultMap="memberResultSet" parameterType="Member">
		SELECT *
		FROM MEMBER
		WHERE NAME LIKE '%'|| #{searchText} ||'%'
		OR ID LIKE '%'|| #{searchText} ||'%'
	</select>
	
	<select id="createdReward" resultMap="rewardResultSet" parameterType="_int">
		SELECT *
		FROM REWARD_LEAVE
		WHERE MEM_NO = #{memNo}
	</select>
	
	<select id="applyLeave" resultMap="RecordLeaveResultSet" parameterType="_int">
		SELECT *
		FROM RECORD_LEAVE
		WHERE MEM_NO = #{memNo}
	</select>
	
	<select id="typeLeave" resultMap="typeLeaveResultSet">
		SELECT *
		FROM TYPE_LEAVE
	</select>
	
	<select id="mixLeave" resultMap="mixLeaveResultSet" parameterType="_int">
		SELECT *
	  	FROM RECORD_LEAVE R
	  	LEFT JOIN TYPE_LEAVE T ON (R.TYPE_USE_LEAVE = T.NO_TYPE_LEAVE)
		WHERE MEM_NO = #{memNo}
		ORDER BY R.APPLYDATE_USE_LEAVE	
	</select>
	
	<select id="tul" resultMap="TypeUsedLeaveResultSet" parameterType="_int">
		SELECT NAME_TYPE_LEAVE as T_NAME, NVL(SUM(DAYS_USE_LEAVE),0) as NUMBER_OF_USED
		FROM RECORD_LEAVE R
		LEFT JOIN TYPE_LEAVE T ON (R.TYPE_USE_LEAVE = T.NO_TYPE_LEAVE)
		WHERE MEM_NO = #{memNo}
		GROUP BY t.name_type_leave
	</select>
	
	<select id="detailRecordLeave" resultMap="mixLeaveResultSet" parameterType="_int">
		SELECT *
		FROM RECORD_LEAVE R
		LEFT JOIN TYPE_LEAVE T ON (R.TYPE_USE_LEAVE = T.NO_TYPE_LEAVE)
		WHERE R.NO_RECORD_LEAVE = #{noRECORD}	
	</select>
	
	<select id="setAttendance" resultMap="SetAttendanceResultSet">
		SELECT *
		FROM SET_ATTENDANCE_STANDARD
		WHERE DAY_WEEK = 'MON'
	</select>
	
	<!-- 출퇴근 기록용 -->
	<select id="recordAB_A" resultType="_int" parameterType="_int">
		SELECT NVL(COUNT(*),0)
		FROM Record_DILIGENCE
		WHERE MEM_NO = #{memNo}
		AND TO_CHAR(DATE_DILIGENCE,'yyyy/mm/dd') = TO_CHAR(SYSDATE,'yyyy/mm/dd')
	</select>
	
	<insert id="recordRA" parameterType="map">
		INSERT INTO RECORD_DILIGENCE VALUES(DILIGENCE_SEQ.nextval,'출근',SYSDATE,
		(SELECT TO_CHAR(SYSDATE,'HH24:MI')FROM DUAL),#{memNo},#{statusD},'')
	</insert>
	
	<select id="recordAB_O" resultType="_int" parameterType="_int">
		SELECT NVL(COUNT(*),0)
		FROM RECORD_DILIGENCE
		WHERE MEM_NO= #{memNo}
		AND TO_CHAR(DATE_DILIGENCE,'yyyy/mm/dd') = TO_CHAR(SYSDATE,'yyyy/mm/dd')
		AND TYPE_DILIGENCE != '퇴근'
	</select>
	
	<update id="recordRO" parameterType="map">
		UPDATE RECORD_DILIGENCE SET TIME_EXIT =(SELECT TO_CHAR(SYSDATE,'HH24:MI')FROM DUAL),
		TYPE_DILIGENCE = '퇴근' WHERE MEM_NO=#{memNo} AND TO_CHAR(DATE_DILIGENCE,'yyyy/mm/dd') = TO_CHAR(SYSDATE,'yyyy/mm/dd')
	</update>
	
	<!-- 당일 근태기록 (헤더용) -->
	<select id="recordToday" resultMap="RecordDiligenceResultSet">
		SELECT *
		FROM RECORD_DILIGENCE
		WHERE MEM_NO = #{memNo}
		AND TO_CHAR(DATE_DILIGENCE,'yyyy/mm/dd') = TO_CHAR(SYSDATE,'yyyy/mm/dd')
	</select>
	
	<select id="noCheckOffwork" resultType="_int" parameterType="_int">
		SELECT NVL(COUNT(*),0)
		FROM RECORD_DILIGENCE
		WHERE MEM_NO = #{memNo}
		AND TO_CHAR(DATE_DILIGENCE,'yyyy/mm/dd') != TO_CHAR(SYSDATE,'yyyy/mm/dd')
        AND TYPE_DILIGENCE = '출근'
        AND EXTRACT(YEAR FROM DATE_DILIGENCE) = EXTRACT(YEAR FROM SYSDATE)
	</select>
	
	<select id="noAttendanceCount" resultType="_int" parameterType="_int">
		SELECT NVL(COUNT(*),0)
		FROM RECORD_DILIGENCE
		WHERE MEM_NO = #{memNo}
		AND TO_CHAR(DATE_DILIGENCE,'yyyy/mm/dd') != TO_CHAR(SYSDATE,'yyyy/mm/dd')
        AND TYPE_DILIGENCE = '결근'
        AND EXTRACT(YEAR FROM DATE_DILIGENCE) = EXTRACT(YEAR FROM SYSDATE)
	</select>
	<!-- 근태 년/월 사번으로 조회 -->
	<select id="searchDiligenceYM" resultMap="RecordDiligenceResultSet" parameterType="map">
		SELECT *
		FROM RECORD_DILIGENCE
		WHERE EXTRACT(YEAR FROM DATE_DILIGENCE) = #{year}
		AND EXTRACT (MONTH FROM DATE_DILIGENCE) = #{month}
		AND MEM_NO = #{memNo}
		ORDER BY DATE_DILIGENCE
	</select>
	<!-- 근태 년/월 사번조회 카운트 페이징처리용 -->
	<select id="dListCount" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM RECORD_DILIGENCE
		WHERE EXTRACT(YEAR FROM DATE_DILIGENCE) = #{year}
		AND EXTRACT (MONTH FROM DATE_DILIGENCE) = #{month}
		AND MEM_NO = #{memNo}
	</select>
	
	<select id="setLeaveStandard" resultMap="SetLeaveResultSet">
		SELECT *
		FROM SET_LEAVE_STANDARD
	</select>
	
	<insert id="newLeaveArr" parameterType="map">
		<foreach collection="newLeaveArr" item="newL" open="INSERT INTO TYPE_LEAVE ">
			VALUES(LEAVE_TYPE_SEQ.nextval,#{newL.newLeave[0]},#{newL.newLeave[1]},#{newL.newLeave[2]})
		</foreach>
	</insert>
	
	<select id="emAllMember" resultMap="forEmLeaveResultSet">
		SELECT M1.NAME,M1.ENROLL_DATE,M1.MEM_NO, M1.ANNUAL_LEAVE AS REMAIN_ANNUAL, M1.REWARD_LEAVE AS REMAIN_REWARD,
																(select NVL(sum(days_r_leave),0)
		                                                        from reward_leave
		                                                        WHERE MEM_NO = M1.MEM_NO
		                                                        ) AS REWARD_LEAVE,
		                                                        M1.WORKYEAR
		FROM (SELECT M.*,'N'||(TRUNC((TO_DATE(SYSDATE, 'YYYY/MM/DD') - TO_DATE(M.ENROLL_DATE,'YYYY/MM/DD'))/365)+1) AS WORKYEAR
		        FROM MEMBER M
		        ) M1
		ORDER BY M1.MEM_NO
	</select>
	
	<select id="usedLeave" resultMap="forEmUsedLeaveResultSet">
		select R.MEM_NO,(R.MEM_NO||'_'||T.NO_TYPE_LEAVE) AS NUM, NVL(SUM(R.DAYS_USE_LEAVE),0)AS USECOUNT
		from record_leave R
		RIGHT JOIN TYPE_LEAVE T ON(T.NO_TYPE_LEAVE = R.TYPE_USE_LEAVE)
		GROUP BY T.NO_TYPE_LEAVE, T.NAME_TYPE_LEAVE, R.MEM_NO
		ORDER BY R.MEM_NO
	</select>
	
	<update id="updateLeaveSetting" >
		UPDATE SET_LEAVE_STANDARD SET
		ANNUAL_LEAVE= #{annualLeave}, CARRYOVER_LEAVE = #{carryover},
		FIRSTYEAR_LEAVE = #{firstyear}, SETTING_DATE = SYSDATE	WHERE WORKING_YEARS = #{workyear}	
	</update>
	
	<insert id="insertLeaveType">
		INSERT INTO TYPE_LEAVE VALUES(LEAVE_TYPE_SEQ.NEXTVAL,#{nameType},#{annualUse},#{status})
	</insert>
	
	<insert id="reduceAnnualLeave">
		INSERT INTO RECORD_LEAVE VALUES(LEAVE_RECORD_SEQ.nextval,#{memNo},1,SYSDATE,#{reductionDaysAnnual},'','결재완료',SYSDATE,#{reasonAnnual})
	</insert>
	
	<insert id="reduceRewardLeave">
		INSERT INTO RECORD_LEAVE VALUES(LEAVE_RECORD_SEQ.nextval,#{memNo},2,SYSDATE,#{reductionDaysReward},'','결재완료',SYSDATE,#{reasonReward})
	</insert>
	
	<select id="recordDiligence" resultMap="RecordDiligenceResultSet">
		SELECT *
		FROM RECORD_DILIGENCE
		WHERE NO_DILIGENCE = #{noDiligence}	
	</select>
	<insert id="modificationDiligence">
		INSERT INTO MOD_DILIGENCE VALUES(#{noMod},SYSDATE,#{name},#{id},#{memNo},#{dateMod},'결재중',#{reasonMod},#{originalAttachmentMod},#{renameAttachmentMod})
	</insert>
	
	<select id="selectRecordModification" resultMap="modificationDiligenceResultSet" parameterType="_int">
		SELECT *		
		FROM MOD_DILIGENCE M
		JOIN RECORD_DILIGENCE R ON(R.NO_DILIGENCE = M.NO_MOD_D)
		WHERE MEM_NO =#{memNo}
	</select>
	
	<delete id="cancelMod">
		DELETE MOD_DILIGENCE WHERE NO_MOD_D = #{noMod}
	</delete>
	
	<select id="recordDiligenceList" resultMap="RecordDiligenceResultSet" parameterType="_int">
		SELECT *
		FROM RECORD_DILIGENCE
		WHERE MEM_NO = #{memNo}
		ORDER BY DATE_DILIGENCE
	</select>
	
	<select id="AttendanceDays" resultMap="SetAttendanceResultSet">
		SELECT *
		FROM SET_ATTENDANCE_STANDARD
	</select>
	
	<select id="selectTargetReward" resultMap="memberResultSet" parameterType="map">
	<![CDATA[ 
		SELECT *
		FROM MEMBER
		JOIN DEPARTMENT USING(DEPT_NO )
		WHERE ENROLL_DATE > #{sDate}
		AND ENROLL_DATE < #{eDate}
		AND (DEPT_NAME LIKE '%'|| #{inputword} ||'%' 
		OR NAME LIKE '%'|| #{inputword} ||'%' )
		ORDER BY MEM_NO
		]]>
	</select>
</mapper>