<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="scheduleMapper">

	<resultMap id="memberResultSet" type="Member">
		<result property="memNo" column="MEM_NO" />
		<result property="id" column="ID" />
		<result property="pwd" column="PWD" />
		<result property="name" column="NAME" />
		<result property="gender" column="GENDER" />
		<result property="birth" column="BIRTH" />
		<result property="phone" column="PHONE" />
		<result property="email" column="EMAIL" />
		<result property="address" column="ADDRESS" />
		<result property="photo" column="PHOTO" />
		<result property="enrollDate" column="ENROLL_DATE" />
		<result property="updateDate" column="UPDATE_DATE" />
		<result property="mStatus" column="M_STATUS" />
		<result property="annualLeave" column="ANNUAL_DATE" />
		<result property="rewardLeave" column="REWARD_DATE" />
		<result property="joinStatus" column="JOIN_STATUS" />
		<result property="myInfo" column="MY_INFO" />
		<result property="deptNo" column="DEPT_NO" />
		<result property="lankNo" column="RANK_NO" />
		<result property="deptName" column="DEPT_NAME" />
		<result property="rankName" column="RANK_NAME" />
		<result property="sAccess" column="S_ACCESS" />
	</resultMap>


	<resultMap id="deptResultSet" type="Department">
		<result property="deptNo" column="DEPT_NO" />
		<result property="deptName" column="DEPT_NAME" />
	</resultMap>

	<resultMap id="CalendarResultSet" type="Calendar">
		<result property="calName" column="CAL_NAME" />
		<result property="color" column="COLOR" />
		<result property="enrollMember" column="ENROLL_MEM" />
		<result property="lookMember" column="LOOK_MEM" />
		<result property="calNo" column="CAL_NO" />
		<result property="mem_name" column="NAME" />
		<result property="mem_no" column="MEM_NO" />
		<result property="cal_type_no" column="CAL_MEM_TYPE" />
	</resultMap>

	<resultMap id="CalendarMemberResultSet" type="CalendarMember">
		<result property="calMemType" column="CAL_MEM_TYPE" />
		<result property="calMem" column="CAL_MEM" />
		<result property="calNo" column="CAL_NO" />
	</resultMap>

	<resultMap id="ScheduleResultSet" type="Schedule">
		<result property="Sche_no" column="SCHE_NO" />
		<result property="Cal_name" column="CAL_NAME" />
		<result property="Sche_name" column="SCHE_NAME" />
		<result property="startdate" column="STARTDATE" />
		<result property="starttime" column="STARTTIME" />
		<result property="enddate" column="ENDDATE" />
		<result property="endtime" column="ENDTIME" />
		<result property="Sche_content" column="SCHE_CONTENT" />
		<result property="memcount" column="MEMCOUNT" />
		<result property="cal_no" column="CAL_NO" />
		
		
		<collection property="calendar" resultMap="Calendar"/>

	</resultMap>
	
	
	
	<!-- 부서 셀렉트 리스트 -->
	<select id="selectdeptList" resultMap="deptResultSet" parameterType="Department">
		SELECT *
		FROM DEPARTMENT
		ORDER BY DEPT_NO
	</select>

	<!-- 사원 리스트 -->
	<select id="selectmemList" resultMap="memberResultSet"
		parameterType="Member">
		SELECT *
		FROM MEMBER
	</select>

	<!-- 공유 캘린더 인써트 -->
	<insert id="insertCommunity" parameterType="Calendar">
		INSERT INTO CALENDAR VALUES(1, #{calNo}, #{calName}, #{color})
		<selectKey keyProperty="calNo" resultType="int"
			order="BEFORE">
			select CAL_SEQ.NEXTVAL FROM DUAL
		</selectKey>
	</insert>

	<insert id="EnrollMember" parameterType="CalendarMember">
		INSERT INTO CALENDAR_MEMBER
		VALUES( #{calNo}, #{calMem}, 1)
	</insert>
	
	<insert id="LookMember" parameterType="CalendarMember">
		INSERT INTO CALENDAR_MEMBER
		VALUES( #{calNo}, #{calMem}, 2)
	</insert>
	
	<select id="publicCalList" resultMap="CalendarResultSet" parameterType="Calendar">
		SELECT *
		FROM CALENDAR
		WHERE CAL_TYPE = 1
	</select>
	
	<select id="IndividualCalList" resultMap="CalendarResultSet" parameterType="Calendar">
		SELECT *
		FROM CALENDAR
		WHERE CAL_TYPE = 2
	</select>
	
	<insert id="insertIndividual" parameterType="Calendar">
		INSERT INTO CALENDAR VALUES(2, #{calNo}, #{calName}, #{color})
		<selectKey keyProperty="calNo" resultType="int"
			order="BEFORE">
			select CAL_SEQ.NEXTVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="IndEnrollMember" parameterType="CalendarMember">
		INSERT INTO CALENDAR_MEMBER
		VALUES( #{calNo}, #{calMem}, 1)
	</insert>
	
	<insert id="IndLookMember" parameterType="CalendarMember">
		INSERT INTO CALENDAR_MEMBER
		VALUES( #{calNo}, #{calMem}, 2)
	</insert>
	
   <insert id="insertSchedule" parameterType="Schedule">
      INSERT INTO SCHEDULE
      VALUES(SCHE_SEQ.NEXTVAL, #{cal_name}, #{sche_name}, #{startdate}, #{starttime}, #{enddate}, #{endtime}, #{sche_content}, '0')
   </insert>
   
   <select id="ScheduleList" resultType="Schedule" parameterType="Schedule">
    	SELECT *
		FROM SCHEDULE S
		JOIN CALENDAR C
		ON S.CAL_NAME = C.CAL_NAME
   </select>
   
    <select id="detailSchedule" resultType="Schedule" parameterType="Schedule">
    	SELECT  S.SCHE_NO, S.SCHE_NAME, C.CAL_NAME, S.STARTDATE, S.STARTTIME, S.MEMCOUNT,
        S.ENDDATE, S.ENDTIME, S.SCHE_CONTENT, C.CAL_NO, C.COLOR, C.CAL_TYPE
		FROM SCHEDULE S
		JOIN CALENDAR C ON S.CAL_NAME = C.CAL_NAME
        JOIN CALENDAR_MEMBER CM ON CM.CAL_NO = C.CAL_NO
        WHERE S.SCHE_NAME = #{sche_name}
        GROUP BY S.SCHE_NO, S.SCHE_NAME, C.CAL_NAME, S.STARTDATE, S.STARTTIME, S.MEMCOUNT,
        S.ENDDATE, S.ENDTIME, S.SCHE_CONTENT, C.CAL_NO, C.COLOR, C.CAL_TYPE
   </select>
   
      <select id="getCalmemCount" resultType="String">
    	SELECT  COUNT(C.CAL_NAME) cnt
		FROM SCHEDULE S
		JOIN CALENDAR C ON S.CAL_NAME = C.CAL_NAME
        JOIN CALENDAR_MEMBER CM ON CM.CAL_NO = C.CAL_NO
        WHERE S.SCHE_NAME = #{sche_name}
        GROUP BY C.CAL_TYPE
   </select>
	
	<update id="updateCalCountMember" parameterType="map">
		UPDATE SCHEDULE
		SET MEMCOUNT = #{memcount}
		WHERE SCHE_NAME = #{Sche_name}
	</update>
	
	<!-- 등록 조회 멤버 리스트임  -->
	<select id="DetailCalmemberList" resultMap="CalendarResultSet" parameterType="Calendar">
		SELECT C.*, CM.*, M.NAME, M.MEM_NO
		FROM CALENDAR C		
        JOIN CALENDAR_MEMBER CM ON CM.CAL_NO = C.CAL_NO
        JOIN MEMBER M ON CM.CAL_MEM = M.MEM_NO
        WHERE C.CAL_NAME = #{cal_name}
	</select>
	
	
	<select id="editDetailSchedule" resultType="Schedule" parameterType="Schedule">
    	SELECT S.SCHE_NO, S.SCHE_NAME, C.CAL_NAME, S.STARTDATE, S.STARTTIME, S.MEMCOUNT,
        S.ENDDATE, S.ENDTIME, S.SCHE_CONTENT, C.CAL_NO, C.COLOR, C.CAL_TYPE
		FROM SCHEDULE S
		JOIN CALENDAR C ON S.CAL_NAME = C.CAL_NAME
        JOIN CALENDAR_MEMBER CM ON CM.CAL_NO = C.CAL_NO
        WHERE S.SCHE_NAME = #{Sche_name}
        GROUP BY S.SCHE_NO, S.SCHE_NAME, C.CAL_NAME, S.STARTDATE, S.STARTTIME, S.MEMCOUNT,
        S.ENDDATE, S.ENDTIME, S.SCHE_CONTENT, C.CAL_NO, C.COLOR, C.CAL_TYPE
   </select>
</mapper>