<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- typeAliases -->
	<typeAliases>
		<typeAlias type="com.kh.nullcompany.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.nullcompany.personnelManagement.model.vo.SetLeave" alias="SetLeave"/>
		<typeAlias type="com.kh.nullcompany.personnelManagement.model.vo.Department" alias="Department"/>
		<typeAlias type="com.kh.nullcompany.personnelManagement.model.vo.RewardLeave" alias="RewardLeave"/>
		<typeAlias type="com.kh.nullcompany.personnelManagement.model.vo.RecordLeave" alias="RecordLeave"/>
		<typeAlias type="com.kh.nullcompany.personnelManagement.model.vo.TypeLeave" alias="TypeLeave"/>
		<typeAlias type="com.kh.nullcompany.personnelManagement.model.vo.MixForLeave" alias="MixForLeave"/>
		<typeAlias type="com.kh.nullcompany.personnelManagement.model.vo.TypeUsedLeave" alias="TypeUsedLeave"/>
		<typeAlias type="com.kh.nullcompany.personnelManagement.model.vo.SetLeave" alias="SetLeave"/>
		<typeAlias type="com.kh.nullcompany.personnelManagement.model.vo.Rank" alias="Rank"/>
		<typeAlias type="com.kh.nullcompany.personnelManagement.model.vo.SetAttendance" alias="SetAttendance"/>
		<typeAlias type="com.kh.nullcompany.personnelManagement.model.vo.RecordDiligence" alias="RecordDiligence"/>
		<typeAlias type="com.kh.nullcompany.board.model.vo.board" alias="board"/>
		<typeAlias type="com.kh.nullcompany.mail.model.vo.Email" alias="Email"/>
		<typeAlias type="com.kh.nullcompany.mail.model.vo.Mail" alias="Mail"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/mail-mapper.xml"/>
		<mapper resource="mappers/personnel-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/Y_personnel-mapper.xml"/>
		<mapper resource="mappers/schedule-mapper.xml"/>
	</mappers>
</configuration>
