<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
   <settings>
      <setting name="jdbcTypeForNull" value="NULL"/>
   </settings>
   
   <!-- typeAliases -->
   <typeAliases>
      <typeAlias type="com.kh.nullcompany.member.model.vo.Member" alias="Member"/>
      <typeAlias type="com.kh.nullcompany.personnelManagement.model.vo.SetLeave" alias="SetLeave"/>
      <typeAlias type="com.kh.nullcompany.personnelManagement.model.vo.Department" alias="Department"/>
      <typeAlias type="com.kh.nullcompany.personnelManagement.model.vo.RewardLeave" alias="RewardLeave"/>
      <typeAlias type="com.kh.nullcompany.personnelManagement.model.vo.RecordLeave" alias="RecordLeave"/>
      <typeAlias type="com.kh.nullcompany.personnelManagement.model.vo.TypeLeave" alias="TypeLeave"/>
      <typeAlias type="com.kh.nullcompany.personnelManagement.model.vo.MixForLeave" alias="MixForLeave"/>
      <typeAlias type="com.kh.nullcompany.personnelManagement.model.vo.TypeUsedLeave" alias="TypeUsedLeave"/>
      <typeAlias type="com.kh.nullcompany.personnelManagement.model.vo.SetLeave" alias="SetLeave"/>
      <typeAlias type="com.kh.nullcompany.personnelManagement.model.vo.Rank" alias="Rank"/>
      <typeAlias type="com.kh.nullcompany.personnelManagement.model.vo.SetAttendance" alias="SetAttendance"/>
      <typeAlias type="com.kh.nullcompany.personnelManagement.model.vo.RecordDiligence" alias="RecordDiligence"/>
      <typeAlias type="com.kh.nullcompany.personnelManagement.model.vo.ForEmLeave" alias="ForEmLeave"/>
      <typeAlias type="com.kh.nullcompany.personnelManagement.model.vo.ForEmUsedLeave" alias="ForEmUsedLeave"/>
      <typeAlias type="com.kh.nullcompany.personnelManagement.model.vo.ModificationDiligence" alias="ModificationDiligence"/>
      <typeAlias type="com.kh.nullcompany.personnelManagement.model.vo.Absence" alias="PAbsence"/>
      <typeAlias type="com.kh.nullcompany.personnelManagement.model.vo.DiligenceCountAllMember" alias="DiligenceCountAllMember"/>
      <typeAlias type="com.kh.nullcompany.personnelManagement.model.vo.SelectedMemberDiligenceCount" alias="SelectedMemberDiligenceCount"/>
      <typeAlias type="com.kh.nullcompany.officeManagement.model.vo.OfficeMainContactInformation" alias="OfficeMainContactInformation"/>
      <typeAlias type="com.kh.nullcompany.officeManagement.model.vo.OfficeMainInformationCalculation" alias="OfficeMainInformationCalculation"/>
      <typeAlias type="com.kh.nullcompany.board.model.vo.board" alias="board"/>
      <typeAlias type="com.kh.nullcompany.board.model.vo.bcomment" alias="bcomment"/>
      <typeAlias type="com.kh.nullcompany.notice.model.vo.notice" alias="notice"/>
      <typeAlias type="com.kh.nullcompany.notice.model.vo.ncomment" alias="ncomment"/>
      <typeAlias type="com.kh.nullcompany.notice.model.vo.tnotice" alias="tnotice"/>
      <typeAlias type="com.kh.nullcompany.notice.model.vo.tcomment" alias="tncomment"/>
      <typeAlias type="com.kh.nullcompany.mail.model.vo.Email" alias="Email"/>
      <typeAlias type="com.kh.nullcompany.mail.model.vo.Mail" alias="Mail"/>
      <typeAlias type="com.kh.nullcompany.mail.model.vo.MailSelectIdNo" alias="MailSelectIdNo"/>
      <typeAlias type="com.kh.nullcompany.mail.model.vo.MailListCount" alias="MailListCount"/>
      <typeAlias type="com.kh.nullcompany.schedule.model.vo.Calendar" alias="Calendar"/>
      <typeAlias type="com.kh.nullcompany.schedule.model.vo.CalendarMember" alias="CalendarMember"/>
      <typeAlias type="com.kh.nullcompany.schedule.model.vo.Schedule" alias="Schedule"/>
      <typeAlias type="com.kh.nullcompany.schedule.model.vo.Schedule" alias="DetailSchedule"/>
      <typeAlias type="com.kh.nullcompany.reservation.model.vo.Category" alias="Category"/>
	  <typeAlias type="com.kh.nullcompany.reservation.model.vo.Reservation" alias="Reservation"/>
	  <typeAlias type="com.kh.nullcompany.reservation.model.vo.Resource" alias="Resource"/>
	  <typeAlias type="com.kh.nullcompany.approval.model.vo.Document" alias="Document"/>
	  <typeAlias type="com.kh.nullcompany.approval.model.vo.Step" alias="Step"/>
	  <typeAlias type="com.kh.nullcompany.approval.model.vo.Form" alias="Form"/>
	  <typeAlias type="com.kh.nullcompany.approval.model.vo.Leave" alias="Leave"/>
	  <typeAlias type="com.kh.nullcompany.approval.model.vo.Absence" alias="Absence"/>
	  <typeAlias type="com.kh.nullcompany.approval.model.vo.Resign" alias="Resign"/>
	  <typeAlias type="com.kh.nullcompany.approval.model.vo.DeptList" alias="DeptList"/>
	  <typeAlias type="com.kh.nullcompany.approval.model.vo.DivDeptStaff" alias="DivDeptStaff"/>
	  <typeAlias type="com.kh.nullcompany.logo.model.vo.Logo" alias="Logo"/>
   </typeAliases>
   
   <mappers>
      <mapper resource="mappers/member-mapper.xml"/>
      <mapper resource="mappers/mail-mapper.xml"/>
      <mapper resource="mappers/personnel-mapper.xml"/>
      <mapper resource="mappers/board-mapper.xml"/>
      <mapper resource="mappers/notice-mapper.xml"/>
      <mapper resource="mappers/Y_personnel-mapper.xml"/>
      <mapper resource="mappers/schedule-mapper.xml"/>
      <mapper resource="mappers/reservation-mapper.xml"/>
      <mapper resource="mappers/approval-mapper.xml"/>
      <mapper resource="mappers/officeManagement-mapper.xml"/>
      <mapper resource="mappers/logo-mapper.xml"/>
   </mappers>
</configuration>